<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row mb-3">
    <%= form.label :name, {class: 'col-sm-2 col-form-label'} %><small class="text-danger">※必須</small>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control', placeholder: 'チーム名を記入しましょう' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :description, {class: 'col-sm-2 col-form-label'} %><small class="text-danger">※必須</small>
    <div class="col-sm-10">
      <%= form.text_field :description, class: 'form-control', placeholder: '活動内容を記入しましょう' %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :team_image, 'チーム写真', {class: 'col-sm-2 col-form-label'} %><small>※任意</small>
    <div class="col-sm-5">
      <%= form.file_field :team_image, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <% form.hidden_field :owner_id, value: current_user.id %>
    <%= form.submit %>
  </div>
<% end %>
