<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><small>※必須</small>
    <%= form.text_field :name, placeholder: "チーム名を記入しましょう" %>
  </div>

  <div class="field">
    <%= form.label :description %><small>※任意</small>
    <%= form.text_field :description, placeholder: "活動内容を記入しましょう" %>
  </div>

  <div class="field">
    <%= form.label :team_image ,'チーム写真' %><small>※任意</small>
    <%= form.file_field :team_image %>
  </div>

  <div class="actions">
    <% form.hidden_field :owner_id, value: current_user.id %>
    <%= form.submit %>
  </div>
<% end %>
