<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Team ID:</strong>
  <%= @team.id %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
    </tr>
  </thead>

  <tbody>
    <% @team.assigns.each do |assign| %>
      <tr>
        <td><%= assign.user.name %></td>
        <td><%= assign.user.email %></td>
        <td><%= link_to "削除", team_assign_path(@team, assign), method: :delete, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


  <% if @assign.present? %>
    <%= link_to 'チームから外れる', team_assign_path(id: @assign.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'チームに加える', team_assigns_path(team_id: @team.id), method: :post, class: 'btn btn-primary' %>
  <% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<%= link_to '課題一覧', team_issues_path(@team, @issue) %>
