<div class="container">
  <h2><%= t('.sign_up') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row mb-3">
      <%= f.label :name, {class: 'col-sm-2 col-form-label'} %><small class="text-danger">※必須</small>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', placeholder: '山田　太郎' %>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :department, {class: 'col-sm-2 col-form-label'} %><small>※任意</small>
      <div class="col-sm-10">
        <%= f.text_field :department, class: 'form-control', placeholder: 'GSC' %>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :email, {class: 'col-sm-2 col-form-label'} %><small class="text-danger">※必須</small>
      <div class="col-sm-10">
        <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: 'user_name@kaizener.com' %>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :password, {class: 'col-sm-2 col-form-label'} %><small class="text-danger">※必須</small>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <div class="col-sm-10">
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password", placeholder: '6文字以上を入力してください' %>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :password_confirmation, {class: 'col-sm-2 col-form-label'} %><small class="text-danger">※必須</small>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password", placeholder: '上記と同一のパスワードを入力してください' %>
      </div>
    </div>

    <div class="row mb-3">
      <%= f.label :icon, {class: 'col-sm-2 col-form-label'} %><small>※任意</small>
      <div class="col-sm-10">
        <%= f.file_field :icon %>
      </div>
    </div>
    <br>
    <div class="actions">
      <%= f.submit t('.sign_up') %>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= render "devise/shared/links" %>
    </div>
    <div class="col">
      <%= link_to('ゲスト(一般)ログイン', users_guest_sign_in_path, method: :post, class: "btn btn-outline-primary me-2") %>
    </div>
    <div class="col">
      <%= link_to('ゲスト(管理者)ログイン', users_guest_admin_sign_in_path, method: :post, class: "btn btn-outline-primary me-2") %>
    </div>
  </div>
</div>