<div class="container">
  <% if comments.present? %>
    <h5 class="mt-5">コメント件数：<%= comments.count %></h5>
      <table class ="table">
        <thead>
          <tr>
            <th>コメント一覧</th>
            <th>投稿者</th>
            <th>コメント内容</th>
            <th>投稿時間</th>
          </tr>
        </thead>
        <tbody>
          <% comments.each do |comment| %>
            <tr>
              <% if comment.user.icon? %>
                <td><%= link_to image_tag(comment.user.icon.url, style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;"), user_path(comment.user.id) %></td>
              <% else %>
                <td><%= link_to (image_tag "default_icon.jpeg", style: "border-radius: 50%; width: 50px; height: 50px; object-fit:cover;"), user_path(comment.user.id) %></td>
              <% end %>
                <td><%= comment.user.name %><a>さん</a></td>
                <td><%= comment.content %></td>
                <td><%= comment.created_at.strftime('%m/%d %H:%M') %></td>
              <% if comment.user == current_user %>
                <!-- div class="comment_delete"> -->
                <td><%= link_to "コメント削除", team_issue_plan_comment_path(comment, plan_id: comment.plan_id, issue_id: comment.plan.issue.id, team_id: comment.plan.issue.team.id), method: :delete, remote: true,
                                                  data: { confirm: "本当に削除しますか?"} %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
  <% else %>
    <p>コメントはまだありません</p>
  <% end %>
</div>