<%= form_with(model: [@team,@issue]) do |form| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% @issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "チーム名" %>
    <%= form.collection_select(:name, current_user.assign_teams , :id, :name, include_blank: "選択して下さい" )  %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
  <%= form.label :image ,"改善前" %>
  <%= form.file_field :image %>
  </div>

  <div class="field">
  <%= form.label :image, "改善後" %>
  <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :cause %>
    <%= form.text_area :cause %>
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_area :goal %>
  </div>

  <div class="field">
    <%= form.label :gap %>
    <%= form.text_area :gap %>
  </div>

  <div class="field">
    <%= form.label :due_date_at %>
    <%= form.date_field :due_date_at %>
  </div>

  <div class="field">
    <%= form.label :status %><br>
    <%= form.select :status, Issue.statuses.keys.to_a,include_blank: "選択して下さい"  %>
  </div>

  <div class="field">
    <%= form.label :priority %><br>
    <%= form.select :priority, Issue.priorities.keys.to_a,include_blank: "選択して下さい"  %>
  </div>

  <div class="field">
    <%= form.label :done_flag %>
    <%= form.check_box :done_flag %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id%>
  <%# <%= form.hidden_field :team_id, value: current_user.team_id%> %>

<hr style="height: 1px; width: 100%;">

  <div id='plan_field'>
    <%= form.fields_for :plans do |plan| %>
    <%= render 'plan_fields', f: plan %>
    <% end %>
    <%= form.hidden_field :user_id, value: current_user.id%>

    <div id='links'>
    <%= link_to_add_association '+アクションプランを追加',form, :plans, 
        class: 'add_fields', id: 'add-btn',
        data: {
        association_insertion_node: '#detail-association-insertion-point', 
        association_insertion_method: 'after'
        } %>
    </div>
    <div id="detail-association-insertion-point"></div>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>

