<div class="nested-fields">
  <div class="row mx-auto">
    <div class="col-5">

      <h3>改善案</h3>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :team_id, value: @team.id %>

        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= f.label :action %></th>
              <th><%= f.label :pic %></th>
              <th><%= f.label :due_date_at %></th>
              <th><%= f.label :status %></th>
              <th><%= f.label :feedback %></th>
            </tr>
          </thead>
          <% @issue.plans.each do |plan, i| %>
          <tbody>
            <tr>
              <td><%= f.text_area :action, placeholder: "課題に対して、解決するためのアクションを記入しましょう" %></td>
              <td><%= f.collection_select(:pic, @team.members, :id, :name, include_blank: '選択') %></td>
              <td><%= f.date_field :due_date_at %></td>
              <td><%= f.select :status, Plan.statuses.keys.to_a,include_blank: "選択して下さい"  %></td>
              <td><%= f.select :feedback, Plan.feedbacks.keys.to_a,include_blank: "選択して下さい"  %></td>
              <td><%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>

