<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @issue.detail %>
</p>

<p>
  <strong>改善前:</strong><br>
      <% if @issue.image?%>
        <%= image_tag @issue.image.url, size: "120x120" %>
    <% else%>
        <%= image_tag "default.jpeg", size: "120x120" %>
    <%end%>
</p>

<p>
  <strong>改善後:</strong><br>
      <% if @issue.image?%>
        <%= image_tag @issue.image.url, size: "120x120" %>
    <% else%>
        <%= image_tag "default.jpeg", size: "120x120" %>
    <%end%>
</p>

<p>
  <strong>Cause:</strong>
  <%= @issue.cause %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @issue.goal %>
</p>

<p>
  <strong>Gap:</strong>
  <%= @issue.gap %>
</p>

<p>
  <strong>Due date at:</strong>
  <%= @issue.due_date_at %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Done flag:</strong>
  <%= @issue.done_flag %>
</p>

<hr style="height: 1px; width: 100%;">
<% @issue.plans.each.with_index(1) do |plan, i| %>
<h3>改善案<%= "#{i}" %></h3>
<p>
  <strong>Action:</strong>
  <%= plan.action %>
</p>

<p>
  <strong>Pic:</strong>
  <%= User.find(plan.pic).name %>
</p>

<p>
  <strong>Due date at:</strong>
  <%= plan.due_date_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= plan.status %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= plan.feedback %>
</p>
<% end %>

<%= link_to 'Edit', edit_team_issue_path(@team, @issue) %> |
<%= link_to 'Back', team_issues_path(@team) %> |
<%= link_to 'Action Planを作成', new_team_issue_plan_path(team_id: @team, issue_id: @issue) %>
