<p>
  <strong>課題の題目:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @issue.detail %>
</p>

<p>
  <strong>改善前:</strong><br>
      <% if @issue.image?%>
        <%= image_tag @issue.image.url, size: "120x120" %>
    <% else%>
        <%= image_tag "default.jpeg", size: "120x120" %>
    <%end%>
</p>

<p>
  <strong>改善後:</strong><br>
      <% if @issue.image?%>
        <%= image_tag @issue.image.url, size: "120x120" %>
    <% else%>
        <%= image_tag "default.jpeg", size: "120x120" %>
    <%end%>
</p>

<p>
  <strong>原因:</strong>
  <%= @issue.cause %>
</p>

<p>
  <strong>目標:</strong>
  <%= @issue.goal %>
</p>

<p>
  <strong>ギャップ:</strong>
  <%= @issue.gap %>
</p>

<p>
  <strong>期限:</strong>
  <%= @issue.due_date_at %>
</p>

<p>
  <strong>優先度:</strong>
  <%= @issue.priority %>
</p>

<p>
  <strong>状況:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>完了？:</strong>
  <%= @issue.done_flag %>
</p>

<hr style="height: 1px; width: 100%;">
<% @issue.plans.each.with_index(1) do |plan, i| %>
<h3>改善案<%= "#{i}" %></h3>
<p>
  <strong>アクション:</strong>
  <%= plan.action %>
</p>

<p>
  <strong>担当者:</strong>
  <%= User.find(plan.pic).name %>
</p>

<p>
  <strong>アクションの期限:</strong>
  <%= plan.due_date_at %>
</p>

<p>
  <strong>アクションの状況:</strong>
  <%= plan.status %>
</p>

<p>
  <strong>評価:</strong>
  <%= plan.feedback %>
</p>
<% end %>

<%= link_to 'Edit', edit_team_issue_path(@team, @issue) %> |
<%= link_to 'Back', team_issues_path(@team) %> |
<%= link_to 'Action Planを作成', new_team_issue_plan_path(team_id: @team, issue_id: @issue) %>
