<h2>課題詳細</h2>
<div class="row">
  <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
            <% if @issue.image?%>
              <%= image_tag @issue.image.url, class: "img-fluid"%>
            <% else%>
              <%= image_tag "default.jpeg", class: "img-fluid"%>
            <%end%>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">改善前
              <%  if @issue.done_flag %>
                <span class="badge bg-secondary"><i class="bi bi-flag-fill"></i></span>
              <% end %>
            </h5>
            <p class="card-text">
              課題の題目:<%= @issue.title %><br>
              詳細:<%= @issue.detail %><br>
              原因:<%= @issue.cause %><br>
              ギャップ:<%= @issue.gap %><br>
              期限:<%= @issue.due_date_at %><br>
              優先度:<%= @issue.priority %><br>
              状況:<%= @issue.status %><br>
            </p>
            <p class="card-text"><small class="text-muted">Last updated <%= @issue.updated_at.strftime("%Y-%m-%d %H:%M:%S")%></small></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <% if @issue.image?%>
            <%= image_tag @issue.image.url, class: "img-fluid" %>
          <% else%>
            <%= image_tag "default.jpeg", class: "img-fluid"%>
          <%end%>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">改善後:</h5>
            <p class="card-text">
            目標：<%= @issue.goal %><br>
            結果：</p>
            <p class="card-text"><small class="text-muted">Last updated <%= @issue.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="featurette-divider">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>アクション</th>
        <th>担当者</th>
        <th>アクションの期限</th>
        <th>アクションの状況</th>
        <th>評価</th>
      </tr>
    </thead>
    <h5>改善案</h5>
    <% @issue.plans.each.with_index(1) do |plan, i| %>
    <tbody>
      <tr>
        <td><%= "#{i}" %></td>
        <td><%= plan.action %></td>
        <td><%= User.find(plan.pic).name %></td>
        <td><%= plan.due_date_at %></td>
        <td><%= plan.status %></td>
        <td><%= plan.feedback %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<%= link_to '改善案詳細ページ', team_issue_plan_path(@team, @issue) %>

<%= link_to edit_team_issue_path(@team, @issue) do %>
  <i class="bi bi-pen"></i>|
<% end %>
<%= link_to '課題一覧', team_issues_path(@team) %>
