<table>
  <tbody>
    <tr>
      <th>改善前:</th>
      <td>
        <% if @issue.image?%>
          <%= image_tag @issue.image.url, size: "120x120" %>
        <% else%>
          <%= image_tag "default.jpeg", size: "120x120" %>
        <%end%>
      </td>
    </tr>

    <tr>
      <th>改善後:</th>
      <td>
        <% if @issue.image?%>
          <%= image_tag @issue.image.url, size: "120x120" %>
        <% else%>
          <%= image_tag "default.jpeg", size: "120x120" %>
        <%end%>
      </td>
    </tr>
  </tbody>
<table>

<table>
  <tbody>
    <tr>
      <th>課題の題目:</th>
      <td><%= @issue.title %></td>
    </tr>

    <tr>
      <th>詳細:</th>
      <td><%= @issue.detail %></td>
    </tr>

    <tr>
      <th>原因:</th>
      <td><%= @issue.cause %></td>
    </tr>

    <tr>
      <th>目標:</th>
      <td><%= @issue.goal %></td>
    </tr>

    <tr>
      <th>ギャップ:</th>
      <td><%= @issue.gap %></td>
    </tr>

    <tr>
      <th>期限:</th>
      <td><%= @issue.due_date_at %></td>
    </tr>

    <tr>
      <th>優先度:</th>
      <td><%= @issue.priority %></td>
    </tr>

    <tr>
      <th>状況:</th>
      <td><%= @issue.status %></td>
    </tr>

    <tr>
      <th>完了？:</th>
      <td><%= @issue.done_flag %></td>
    </tr>
  </tbody>
<table>

<hr style="height: 1px; width: 100%;">
<% @issue.plans.each.with_index(1) do |plan, i| %>
<h3>改善案<%= "#{i}" %></h3>

<table>
  <thead>
    <tr>
      <th>アクション:</th>
      <th>担当者:</th>
      <th>アクションの期限:</th>
      <th>アクションの状況:</th>
      <th>評価:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= plan.action %></td>
      <td><%= User.find(plan.pic).name %></td>
      <td><%= plan.due_date_at %></td>
      <td><%= plan.status %></td>
      <td><%= plan.feedback %></td>
    </tr>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_team_issue_path(@team, @issue) %> |
<%= link_to 'Back', team_issues_path(@team) %> |
<%= link_to 'Action Planを作成', new_team_issue_plan_path(team_id: @team, issue_id: @issue) %>
