<div class="container">
    <h3><%= "#{@user.name}のマイページ" %>  (<%= "ユーザーID##{@user.id}" %>)</h3>
    <hr/>


    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">

                <% if @user.icon?%>
                    <%= image_tag @user.icon.url, style: "border-radius: 50%; width: 120px; height: 120px; object-fit:cover;"%>
                <% else%>
                    <%= image_tag ("default_icon.jpeg"), style: "border-radius: 50%; width: 120px; height: 120px; object-fit:cover;" %>
                <%end%>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">ユーザー名：<%= @user.name %></h5>
                    <p class="card-text">部署名：<%= @user.department %></p>
                    <p class="card-text">メールアドレス<%= @user.email %></p>
                    <p class="card-text"><small class="text-muted">更新日：<%= @user.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></small></p>
                </div>
            </div>
        </div>
        <%= link_to "プロフィール編集", edit_user_registration_path, class: 'btn btn-primary' %>
    </div>

    <hr class="featurette-divider">

    <div class="action_table">
        <% if @user.plans.present? %>
            <h3>自分が担当している未完了のAction一覧  <%= @user.plans.count %>件</h3>
        <% end %>
        <table class="table">
            <thead>
                <tr>
                    <th>アクション</th>
                    <th>期日</th>
                    <th>詳細・コメント</th>
                </tr>
            </thead>
            <tbody>
                <% @user.plans.each do |plan| %>
                    <%if plan.status == "未完了" %>
                    <tr>
                        <td><%= plan.action %></td>
                        <td><%= plan.due_date_at %></td>
                        <td><%= link_to team_issue_plan_path(@team, @issue, plan) do %><i class="bi bi-info-circle-fill text-info" style="font-size: 1.5rem;"></i><% end %></td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>