<h2><%= "#{@user.name}のマイページ" %></h2>
<hr/>

<p>
    <strong>プロフィール画像</strong><br>
    <% if @user.icon?%>
        <%= image_tag @user.icon.url, style: "border-radius: 50%; width: 120px; height: 120px; object-fit:cover;"%>
    <% else%>
        <%= image_tag "default_icon.jpeg", style: "border-radius: 50%; width: 120px; height: 120px; object-fit:cover;" %>
    <%end%>
</p>
<p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
</p>
<p>
    <strong>部署名</strong>
    <%= @user.department %>
</p>
<p>
    <strong>e-mail</strong>
    <%= @user.email %>
</p>

<div>
    <strong>所属チーム</strong>
    <table class="table">
    <tbody>
        <% @user.assign_teams.each do |team| %>
        <tr>
            <td><%= team.name %></td>
            <td><%= link_to "詳細", team_path(@team) %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>

<%= link_to "プロフィール編集", edit_user_registration_path %>
<%= link_to 'すべてのチーム一覧', teams_path %>
<%= link_to '参加チーム一覧', teams_path(my_team: "true") %>
<%= link_to '課題一覧', team_issues_path(@team, @issue) %>
<%= link_to '課題追加', new_team_issue_path(@team) %>