<%= form_with(model:  [@team, @issue, plan],url: new_team_issue_plan_path(team_id: @team, issue_id: @issue), local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team_name, "チーム名" %>
    <%= form.collection_select(:team_id, current_user.assign_teams , :id, :name, include_blank: "選択して下さい" )  %>
  </div>

  <div class="field">
    <%= form.label :action %>
    <%= form.text_area :action, placeholder: "課題に対するアクションを記入しましょう" %>
  </div>

  <div class="field">
    <%= form.label :pic %>
    <%= form.collection_select(:pic, @team_member, :id, :name, include_blank: '選択') %>
  </div>

  <div class="field">
    <%= form.label :due_date_at %>
    <%= form.date_field :due_date_at %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :feedback %>
    <%= form.number_field :feedback %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
