<h1>アクションプランの一覧</h1>

<table>
  <thead>
    <tr>
      <th>アクション名</th>
      <th>担当者</th>
      <th>アクション期限</th>
      <th>状況</th>
      <th>評価</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.action %></td>
        <td><%= plan.pic %></td>
        <td><%= plan.due_date_at %></td>
        <td><%= plan.status %></td>
        <td><%= plan.feedback %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
