<p>
  <strong>アクション名:</strong>
  <%= @plan.action %>
</p>

<p>
  <strong>担当者:</strong>
  <%= @plan.pic %>
</p>

<p>
  <strong>期限:</strong>
  <%= @plan.due_date_at %>
</p>

<p>
  <strong>状況:</strong>
  <%= @plan.status %>
</p>

<p>
  <strong>評価:</strong>
  <%= @plan.feedback %>
</p>

<%= link_to 'マイページ', user_path(current_user)%>
