<p>
  <strong>Action:</strong>
  <%= @plan.action %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @plan.pic %>
</p>

<p>
  <strong>Due date at:</strong>
  <%= @plan.due_date_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @plan.status %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @plan.feedback %>
</p>

<%= link_to 'Edit', edit_team_issue_plan_path(@team, @issue, @plan) %> |
<%= link_to 'Back', team_issue_plans_path(@team, @issue) %>
