<div class = "container">
  <h3>改善案の詳細</h3>

  <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>アクション</th>
          <th>担当者</th>
          <th>アクションの期限</th>
          <th>アクションの状況</th>
          <th>評価</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @plan.action %></td>
          <td><%= @plan_pic %></td>
          <td><%= @plan.due_date_at %></td>
          <td><%= @plan.status %></td>
          <td><%= @plan.feedback %></td>
        </tr>
      </tbody>
    </table>
</div>

  <hr style="height: 1px; width: 100%;">
  <!--<p>コメント一覧</p> -->

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をプランの詳細ページに表示するためのrender -->
    <%= render partial:'comments/index', locals: { comments: @comments, plan: @plan }%>
  </div>

  <!-- コメント入力欄をプランの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, plan: @plan } %>


<%= link_to 'マイページ', user_path(current_user)%>
