<p>
  <strong>アクション名:</strong>
  <%= @plan.action %>
</p>

<p>
  <strong>担当者:</strong>
  <%= @plan.pic %>
</p>

<p>
  <strong>期限:</strong>
  <%= @plan.due_date_at %>
</p>

<p>
  <strong>状況:</strong>
  <%= @plan.status %>
</p>

<p>
  <strong>評価:</strong>
  <%= @plan.feedback %>
</p>

<%= link_to 'プランを編集', edit_team_issue_plan_path(@team, @issue, @plan) %> |
<%= link_to '課題一覧', team_issue_plans_path(@team, @issue) %>
